body{
    font-family: 'Montserrat';
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    background: #FFC107;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-img {
    width: 324px;
    height: 84px;
}
.nav{
    width: 100%;
    height: 48px;
    background: #FFA000;
}
.nav-ul{
    display: flex;
    justify-content: center;
    list-style-type: none;    
    margin: 0;
    padding: 10px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.nav-li{
    display: inline;
}
.nav-inicio{
    width: 57px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FDFDFD;
    text-decoration:none;
    margin-right: 20px;
}
.nav-inicio:hover {
    font-size: 30px;
}
.nav-receitas{
    width: 84px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FDFDFD;
    text-decoration:none;
}
.nav-receitas:hover {
    font-size: 30px;
}
.nav-contato{
    width: 82px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
    color: #FDFDFD;
    text-decoration:none;
    margin-left: 30px;
}
.nav-contato:hover{
    font-size: 30px;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    height: 119px;
    background: #FFC107;
    margin-top: -119px;
}
.footer-logo{
    width: 324px;
    height: 84px;
}
.footer-span{
    width: 464px;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: lowercase;
    color: #FFFFFF;
    padding: 10px;
}
section{
    display: flex;
    align-items: flex-start;
    background-image: url("../imagens/family.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

}
p{
    font-weight: 900;
    font-size: 70px;
    line-height: 85px;
    text-transform: lowercase;
    color: #FFFFFF;
    font-style: normal;
    width: 100%;
    margin-left: 122px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px;
}
form{
    display: flex;
    flex-direction: column;
    border: 1px solid #FFA000;
    border-radius: 20px;
    padding: 50px;
    color:#FFA000;
}
form > input{
    margin-bottom: 50px;
    width: 749px;
    height: 50px;
    border-radius: 7px;
    border-color: #FFA000;
}
form > input::placeholder{
    font-size: 20px;
    position: absolute;
    top:15px;
    left: 10px;
}
.mensagem{
    margin-bottom: 50px;
    width: 749px;
    height: 293px;
}
button{
    background-color: #FFC107;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 16px;
    width: 164px;
    height: 50px;
}
h1{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FFC107;
}
html,body, main{
    height: 100%;

}